.caregiver-container {
    background-color: $whitish;
    // background-color: $white;
    // @include media-min-sm {
    //     background-color: $whitish;
    // }
    .caregiver-content {
        padding: 69px 16px;
        // padding: 16px 16px 69px;
        min-height: 100vh;
        @include media-min-sm {
            padding: 1.5rem 1rem 69px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: fit-content;
        }
        // @include media-min-md {
        //     padding: 69px 1rem 69px;
        // }
        @include media-min-lg {
            padding: 0;
            min-height: 100.5vh;
        }
        .landing-container{
            margin-top: 5rem;
            @include media-min-md {
             margin-top: 0rem;
            }
        }
    }
}