.child2{
    margin-left: 22px;
    width: 96%;
    color: $black;
    background-color: $grayee7 !important;
    border: 1px solid $grayee6;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.child1{
    padding: 10px;
    margin-bottom: 0px;
}